PORT=3001
CORAL_CONFIG_DIR=../.coral-config
CORAL_BIN_PATH=../.coral-bin/coral.exe
MOCK_MODE=true

# API Tokens (Only required for active non-mock mode)
GITHUB_TOKEN=
SLACK_TOKEN=
PAGERDUTY_API_TOKEN=
SENTRY_TOKEN=
SENTRY_ORG=
